---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Chang Yun | Home">
	<main>
	    <h1>Hello World</h1>
        <p>This site is under construction</p>	
	</main>
</Layout>
