---
import Navigation from "./Navigation.astro"


---

<header>
    <p>Test</p>
    <Navigation></Navigation>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: lightcyan;
    }
</style>
