---
import '../styles/globals.css'
---

<nav>
    <a href="/">Home</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Projects</a>
    <a href="/contact">Projects</a>
</nav>

<style>

</style>
