---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
---

<Layout title="Chang Yun | Projects">
    <main>
        <h1>Projects page</h1>
    <main>
</Layout>
